.App {
  text-align: center;
}

.gradient {
  background: rgb(255, 255, 0);
  background: radial-gradient(
    circle,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 20, 147, 1) 100%
  );
}

.navBar {
  border-bottom: 0px solid rgba(34, 36, 38, 0.15) !important;
}
